<div class="main-container menu-main-container">
    <div class="menu-container row">
        <div class="menu-color-preview">
            <div class="menu-color-preview-tile">
                <div class="menu-title">
                    player 1
                </div>
                <div class="color-preview-tile">
                    <div class=" preview1 gameboard-cell"><div class="cell-content"></div></div>
                </div>
                <div class="mt-10">
                    <input type="color" id="color-picker1" />
                </div>
                <div class="mt-10">
                    <input type="text" class="form__input player1-name" placeholder="Name...">
                </div>
            </div>
            <div class="menu-color-preview-tile">
                <div class="menu-title">
                    player 2
                </div>
                <div class="color-preview-tile">
                    <div class="preview2 gameboard-cell"><div class="cell-content"></div></div>
                </div>
                <div class="mt-10">
                    <input type="color" id="color-picker2" />
                </div>
                <div class="mt-10">
                    <input type="text" class="form__input player2-name" placeholder="Name...">
                </div>
            </div>
        </div>
    </div>
    <div class="menu-container col mt-2em">
        <div class="row">
            <input type="range" id="col-slider" value="6" min="5" max="10" step="1"/>
        </div>
        <div class="row">
            <input type="range" id="row-slider" min="5" value="5" max="10" step="1"/>
            <div class="row mt-2em">
                <div class="gameboard-preview">

                </div>
            </div>
        </div>

    </div>
    <div class="row mt-2em">
        <a class="play-btn">play</a>
    </div>
</div>