<div id="modal-menu" class="col">
    <h3 class="modal-menu-title"></h3>
    <div class="row">
        <a class="modal-menu-btn">Menu</a>
        <a class="modal-playAgain-btn">Play again</a>
    </div>
</div>