
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
}
:root {
    --player-1-color: linear-gradient(135deg, #F40076, #DF98FA);
    --player-2-color: linear-gradient(135deg, #CB5EEE, #4BE1EC);
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
    box-shadow: var(--inner-shadow);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-light);
}
.mt-10 {
    margin-top: 10px;
}
.mt-2em {
    margin-top: 2em;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player1 {
    background: var(--player-1-color) !important;
    box-shadow: var(--inner-shadow-dark) !important;
}

.player2 {
    background: var(--player-2-color) !important;
    box-shadow: var(--inner-shadow-dark) !important;
}
.page {  
    height: 100%;
    width: 100%;
    max-height: 100%;
    position: relative;
}
#page-content {
    position: relative;
    height: 93%;
    overflow: hidden;
}
.main-container.menu-main-container {
    overflow-y: auto;
    justify-content: normal;
}
.main-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    padding: 3rem;
    flex-direction: column;

    #gameboard {
        display: flex;
        flex-direction: row;
        background: var(--bg-color);
        border-radius: 3rem;
        box-shadow: var(--box-shadow);
        padding: 2.5rem;
        width: 100vh;
        height: min-content;

        .gameboard-col {
            transition: transform ease-in-out 0.2s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            height: min-content;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
.gameboard-cell {
    position: relative;
    box-shadow: var(--box-shadow);
    margin: 0.5em;
    border-radius: 50%;

    .cell-content {
        position: absolute;
        width: 80%;
        height: 80%;
        padding: 1rem;
        border-radius: 50%;
        box-shadow: var(--inner-shadow);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: var(--text-color);
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: .7em;
    }

    &:after {
        padding-bottom: 100%;
        display: block;
        content: "";
    }
}

/*TOP NAVBAR*/
.top-nav-bar {
    width: 100%;
    height: 7%;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    z-index: 100;
    padding: 0.5rem 1rem;
    position: relative;
    .switch {
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: repeat(2, min-content);
        grid-gap: 3rem;
        justify-self: center;

        input {
            display: none;
        }

        &__1 {
            width: 6rem;

            label {
                display: flex;
                align-items: center;
                width: 100%;
                height: 3rem;
                box-shadow: var(--e-shadow);
                background: rgba(255,255,255,0);
                position: relative;
                cursor: pointer;
                border-radius: 1.6rem;

                &::after {
                    content: "";
                    position: absolute;
                    left: .4rem;
                    width: 2.1rem;
                    height: 2.1rem;
                    border-radius: 50%;
                    background: var(--greyDark);
                    transition: all .4s ease;
                }

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
                    opacity: 0;
                    transition: all .4s ease;
                }
            }
        }

        & input:checked {
            & ~ label {
                &::before {
                    opacity: 1;
                }

                &::after {
                    left: 57%;
                    background: var(--bg-color);
                }
            }
        }
    }
}

/*Menu style*/
.menu-container {
    background: var(--bg-color);
    border-radius: 3rem;
    box-shadow: var(--box-shadow);
    padding: 2.5rem;
    max-width: 100vh;
    width: 100%;
    position: relative;

    .menu-color-preview {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;

        .menu-color-preview-tile {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .menu-title {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                text-shadow: var(--box-shadow);
                color: var(--primary);
                font-weight: 900;
                font-size: 2em;
                text-align: center;
            }

            .form__input {
                border: none;
                border-radius: 1rem;
                font-size: 1.4rem;
                padding: .5em;
                box-shadow: var(--inner-shadow);
                background: none;
                font-family: inherit;
                color: var(--font-color);

                &:focus {
                    outline: none;
                    box-shadow: var(--box-shadow);
                }

                &::placeholder {
                    font-family: 'Poppins', sans-serif;
                }
            }

            .color-preview-tile {
                display: flex;
                justify-content: center;
                width: 100%;

                .preview1 {
                    width: 20%;
                }

                .preview2 {
                    width: 20%;
                }
            }
        }
    }

    input[type=range] {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        /*CHROME*/
        &::-webkit-slider-runnable-track {
            background: var(--bg-color);
            box-shadow: var(--inner-shadow);
            border: none;
            height: 1em;
            border-radius: 20px;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            background: var(--bg-color);
            box-shadow: var(--inner-shadow);
            border-radius: 50%;
            height: 2em;
            width: 2em;
            margin-top: -0.5em;
        }
    }

    #col-slider {
        width: 100%;
    }

    #row-slider {
        transform: rotate(90deg);
    }

    .gameboard-preview {
        --template-rows: 5;
        --template-columns: 4;
        display: grid;
        grid-template-rows: repeat(var(--template-rows), 1fr);
        grid-template-columns: repeat(var(--template-columns), 1fr);
        width: 50%;
        max-height: 100%;
    }
    
}
.play-btn {
    text-transform: uppercase;
    color: var(--greyDark);
    box-shadow: var(--box-shadow);
    padding: 10px 15px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    font-size: 3em;

    &:hover {
        color: var(--primary);
    }
    &:active {
        box-shadow: var(--inner-shadow);
    }
}

#modal-menu {
    display: none;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    padding: 2em 3em;
    z-index: 100;
    .modal-menu-title {
        color: #fff;
    }
    a {
        color: #fff;
        font-size: 1.5em;
        border-radius: 20px;
        border: solid 1px #fff;
        padding: .3em .6em;
        margin: .5em;
        cursor: pointer;
        transition: all ease-in-out .2s;
        font-weight: 400;
        &:hover {
            background: #fff;
            color: #000;
        }
    }
}